//Set Text Color
@function set-text-color($color) {
	@if (lightness($color) > 50) {
		@return #333;
	} @else {
		@return #fff;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	line-height: 1.6;
	background: $body-color;
	color: $dark-color;
}

a {
	text-decoration: none;
	color: $primary-color;
	transition: all 0.3s ease-in-out;
	&:hover {
		color: $secondary-color;
	}
}

ul {
	list-style-type: none;
}

img {
	width: 100%;
}

p {
	margin-bottom: 10px;
}
