#footer {
	background: $white;
	color: $dark-color;
	padding: 20px 0;
	border-top: 5px solid $primary-color;

	p,
	a {
		color: $medium-dark-color;
	}

	a {
		transition: color 0.5s;
		display: block;

		&:hover {
			color: $dark-color;
		}
	}

	.footer-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 60px;

		@include large-screen {
			padding: 0 25px;
		}

		@include medium-screen {
			gap: 20px;
		}

		@include small-screen {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	.footer-column-1 {
		p {
			margin-top: 10px;

			i {
				font-size: 2em;
				color: $primary-color;
				width: 40px;
			}

			a {
				display: inline-block;
			}
		}
	}
}
