// Homepage Slider
.homepage-slider {
	.slider {
		height: 100vh;
		margin-top: -80px;
		position: relative;

		&-1 {
			background: url("../img/slider/slider-1.jpg") no-repeat center center/cover;
		}

		&-2 {
			background: url("../img/slider/slider-2.jpg") no-repeat center center/cover;
		}

		&-3 {
			background: url("../img/slider/slider-1.jpg") no-repeat center center/cover;
		}

		&-container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			justify-content: center;
			align-content: center;
			height: 100%;
			width: $website-width;
			margin: auto;
		}

		.slider-text-right {
			grid-column: 2 / span 1;
			border-radius: 0 20% 0 20%;
		}

		&-content {
			background: $primary-color-transparent;
			border-radius: 20% 0 20% 0;
			box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
			color: #fff;
			opacity: 0;
			padding: 50px;

			h2 {
				font-size: 3rem;
				transition: all 0.5s;
			}

			p {
				font-size: 1.2rem;
				padding: 20px 0;
				transition: all 1s;
			}
		}
	}

	.slick-active {
		.content-left {
			animation-name: fadeInLeft;
			animation-duration: 2s;
			opacity: 1;
		}

		.content-right {
			animation-name: fadeInRight;
			animation-duration: 2s;
			opacity: 1;
		}
	}
}

// Home Page Services
.home-services {
	padding: 60px 0;
	background: $light-color;

	h2 {
		text-align: center;
	}

	&-cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
		padding: 30px;
	}
}
