// Homepage Slider
.homepage-slider {
	.slider {
		height: 100vh;
		margin-top: -80px;
		position: relative;

		&-1 {
			background: url("../img/slider/slider-1.jpg") no-repeat center center/cover;
		}

		&-2 {
			background: url("../img/slider/slider-2.jpg") no-repeat center center/cover;
		}

		&-3 {
			background: url("../img/slider/slider-1.jpg") no-repeat center center/cover;
		}

		&-container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			justify-content: center;
			align-content: center;
			height: 100%;
			width: $website-width;
			margin: auto;
		}

		.slider-text-right {
			grid-column: 2 / span 1;
			border-radius: 0 20% 0 20%;
		}

		&-content {
			background: $primary-color-transparent;
			border-radius: 20% 0 20% 0;
			box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
			color: #fff;
			opacity: 0;
			padding: 50px;

			h2 {
				font-size: 3rem;
				transition: all 0.5s;
			}

			p {
				font-size: 1.2rem;
				padding: 20px 0;
				transition: all 1s;
			}
		}
	}

	.slick-active {
		.content-left {
			animation-name: fadeInLeft;
			animation-duration: 2s;
			opacity: 1;
		}

		.content-right {
			animation-name: fadeInRight;
			animation-duration: 2s;
			opacity: 1;
		}
	}
}

// Home Page Services
.home-services {
	padding: 60px 0;
	background: $light-color;

	h2 {
		text-align: center;
	}

	&-cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
		padding: 30px;
	}
}

// Home page Section About Us
.home-about {
	background: #fff;
	padding: 150px 0;

	&-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2.5rem;

		img {
			height: 100%;
			object-fit: cover;
			border-radius: 0 20% 0 20%;
		}

		h2 {
			margin-bottom: 25px;
		}

		.btn {
			margin: 50px 0;
		}
	}
}

// Parallax image
.parallax-home {
	background-image: url("../img/slider/slider-2.jpg");
}

// Home page Packages
.home-packages {
	background: $light-color;
	padding: 100px 0;

	&-headlines {
		text-align: center;
		width: 60%;
		margin: auto;
	}

	&-content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 3rem;
		margin-top: 40px;
		padding: 10px 40px;
		text-align: center;

		.card {
			margin-bottom: 20px;
			height: initial;

			h4 {
				display: inline;
				padding: 5px 0;
			}

			.price {
				font-size: 4rem;
				margin: 0;
				margin-top: 20px;

				sup {
					font-size: 1rem;
					margin-left: 5px;
				}
			}

			.period {
				margin: 0;
				font-size: 0.8rem;
			}

			&-content {
				margin-top: 40px;

				p {
					margin-bottom: 1.5rem;
				}
			}

			.btn {
				margin-top: 40px;
			}

			&:hover {
				transform: initial;
				background: initial;
				color: initial;
			}

			&-highlight {
				transform: scale(1.1);
			}
		}
	}
}

.home-contact {
	padding: 100px 0;

	&-container {
		display: grid;
		grid-template-columns: 3fr 6fr;
		gap: 4rem;
	}

	&-content {
		display: grid;
		justify-content: center;
		align-content: center;
		padding: 0 100px;

		h3 {
			margin-bottom: 25px;
		}
	}
}
