// Homepage Slider
.homepage-slider {
	.slider {
		height: 100vh;
		position: relative;

		&-1 {
			background: url("../img/slider/cista-kuca-slider-1.webp") no-repeat center center/cover;
		}

		&-2 {
			background: url("../img/slider/cista-kuca-slider-2.webp") no-repeat center center/cover;
		}

		&-3 {
			background: url("../img/slider/cista-kuca-slider-3.webp") no-repeat center center/cover;
		}

		&-container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			justify-content: center;
			align-content: center;
			height: 100%;
			width: $website-width;
			margin: auto;

			@media (max-width: 767px) {
				grid-template-columns: repeat(1, 1fr);
			}
		}

		.slider-text-right {
			grid-column: 2 / span 1;
			border-radius: 0 20% 0 20%;
		}

		&-content {
			background: $primary-color-transparent;
			border-radius: 20% 0 20% 0;
			box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
			color: $white;
			opacity: 0;
			padding: 50px;

			h2 {
				font-size: 3rem;
				transition: all 0.5s;
			}

			p {
				font-size: 1.2rem;
				padding: 20px 0;
				transition: all 1s;
			}
		}
	}

	.slick-active {
		.content-left {
			animation-name: fadeInLeft;
			animation-duration: 2s;
			opacity: 1;

			@media (max-width: 1024px) {
				width: 500px;
				margin-left: 10%;
			}
		}

		.content-right {
			animation-name: fadeInRight;
			animation-duration: 2s;
			opacity: 1;

			@media (max-width: 1024px) {
				width: 500px;
				margin-right: 10%;
			}
		}
	}
}

// Home Page Services
.home-menu-section {
	padding: 60px 0;

	&-images {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
		padding: 30px;
	}
}

// Home page Section About Us
.home-about {
	padding: 150px 0;

	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2.5rem;

		h2 {
			margin-bottom: 25px;
		}

		.btn {
			margin: 50px 0;
		}
	}
}

// Parallax image
.parallax-home {
	background-image: url("../img/home/home-parallax-1.webp");
}

// Homepage Packages
.home-packages {
	padding: 100px 0;

	&-headlines {
		text-align: center;
		width: 60%;
		margin: auto;
	}

	&-content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 3rem;
		margin: 40px 0 20px 0;
		padding: 10px 40px;
		text-align: center;
	}
}

// Homepage Contact Section
.home-contact {
	padding: 100px 0;

	&__container {
		display: grid;
		grid-template-columns: 2fr 3fr;
		gap: 4rem;
		height: 500px;
	}

	&__content {
		display: grid;
		justify-content: center;
		align-content: center;
		padding: 0 100px;

		h3 {
			margin-bottom: 25px;
		}
	}
}
