// Main Navigation
#header-home {
	#main-nav {
		@include largescreen {
			position: fixed;
			height: $menu-height;
			width: 100%;
			background: $white;
			z-index: 100;
			@include transition();
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		.navbrand {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			img {
				color: $primary-color;
				height: 100%;
				padding: 10px 0;
				text-transform: uppercase;
				width: auto;
			}

			.burger {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				border: none;
				outline: none;
				background: none;
				@include transition();

				&-close {
					display: none;
				}

				&.active {
					.burger-open {
						display: none;
					}
					.burger-close {
						display: flex;
					}
				}

				// Media Query for Desktop
				@include largescreen {
					display: none;
				}
			}
		}

		.menu {
			width: 100%;
			height: 0;
			overflow: hidden;
			@include transition();

			ul {
				display: flex;
			}

			li {
				display: flex;
				align-items: center;
				padding: 1rem 1.5rem;

				a {
					color: $secondary-color;
					@include transition();
					padding-bottom: 5px;
					border-bottom: 2px solid transparent;

					&:hover {
						color: $primary-color;
						border-color: $primary-color;
					}

					&.current {
						border-color: $primary-color;
					}
				}
			}

			&.active {
				width: 100%;
				height: 10rem;
				margin: 1rem 0;
			}

			// Media Query for Desktop
			@include largescreen {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				height: auto;

				&-item {
					padding: 0;
					margin: 0 0.5rem;
				}
			}

			.contact-menu {
				background: $primary-color;
				width: 150px;
				height: 40px;
				border-radius: 5px;
				margin: 18px auto 22px auto;
				padding: inherit;
				border: inherit;
				@include transition();

				a {
					height: 100%;
					width: 100%;
					color: $white;
					padding: 0;
					border: 0;
					@include transition();
					border-radius: 5px;
					text-align: center;
					line-height: 40px;

					&:hover {
						background: $secondary-color;
						color: $white;
					}
				}
			}
		}
	}

	.sticky-header {
		height: $menu--scroll-height;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);

		a {
			font-size: 0.9rem !important;
			padding-bottom: 0 !important;
		}

		img {
			padding: 3px 0 !important;
		}

		.contact-menu {
			width: 120px !important;
			height: 30px !important;
			margin: auto !important;

			a {
				line-height: 30px !important;
			}
		}
	}
}
