// Main Navigation
#header-home {
	#main-nav {
		height: $menu-height;
		position: fixed;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 0 100px;
		background: $white;
		@include transition();
		z-index: 100;

		@include large-screen {
			padding: 0 50px;
		}

		@include medium-screen {
			display: block;
			height: initial;
			padding: 0;
		}

		.navbrand {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			img {
				width: auto;
				color: $primary-color;
				text-transform: uppercase;
				@include transition();
				object-fit: contain;

				@include medium-screen {
					margin-left: 20px;
				}
			}

			.burger {
				display: none;

				@include medium-screen {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					border: none;
					outline: none;
					background: none;
					@include transition();
					margin-right: 20px;

					&-close {
						display: none;
					}

					&.active {
						.burger-open {
							display: none;
						}
						.burger-close {
							display: flex;
						}
					}
				}
			}
		}

		.menu {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			height: auto;
			background: $white;
			@include transition();

			@include medium-screen {
				height: 0;
				flex-direction: column;
				overflow: hidden;
				@include transition();
			}

			&.active {
				width: 100%;
				height: 400px;
			}

			li {
				display: flex;
				align-items: center;
				padding: 1rem 1.5rem;

				@include medium-screen {
					width: 100%;
					border-bottom: 1px solid $primary-color;
				}

				&:last-child {
					border: none;
				}

				a {
					color: $secondary-color;
					@include transition();
					padding-bottom: 5px;
					border-bottom: 2px solid transparent;

					&:hover {
						color: $primary-color;
						border-color: $primary-color;
					}

					&.current {
						border-color: $primary-color;
					}
				}
			}

			.contact-menu {
				background: $primary-color;
				width: 150px;
				height: 40px;
				border-radius: 5px;
				padding: inherit;
				border: inherit;
				@include transition();

				@include medium-screen {
					margin-top: 10px;
					margin-bottom: 10px;
				}

				a {
					display: flex;
					justify-content: center;
					align-items: center;
					text-align: center;
					height: 100%;
					width: 100%;
					color: $white;
					padding: 0;
					border: 0;
					@include transition();
					border-radius: 5px;

					&:hover {
						background: $secondary-color;
						color: $white;
					}
				}
			}
		}

		&.sticky-header {
			height: $menu-scroll-height;
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);

			a {
				font-size: 0.9rem;
				padding-bottom: 0;
			}

			img {
				padding: 0;
				height: $menu-scroll-height;
				@include transition();
			}

			.menu {
				&.active {
					height: 300px;
				}

				li {
					padding: 0.5rem 1.5rem;
				}

				.contact-menu {
					width: 120px;
					height: 30px;
				}
			}
		}
	}
}
