.container {
	max-width: $website-width;
	margin: auto;
	overflow: hidden;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.2rem;
}

.btn {
	display: inline-block;
	min-width: 180px;
	height: 50px;
	line-height: 50px;
	background: $primary-color;
	color: $white;
	border-radius: 50px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	transition: 0.5s;

	&:hover {
		background: $secondary-color;
	}
}

.btn-secondary {
	@extend .btn;
	background: $white;
	color: $primary-color;

	&:hover {
		background: $light-color;
	}
}

.showcase {
	height: 50vh;

	&-content {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		h1 {
			color: $primary-color;
			font-size: 60px;
			line-height: 1.2em;
		}
	}
}

.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	position: relative;
}

// Pricing cards
.card {
	background: $white;
	padding: 1.5rem;
	border-radius: 5px;
	box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
	transition: all 0.5s;
	line-height: 1.2;
	margin-bottom: 20px;

	&:hover {
		cursor: default;
		box-shadow: 5px 5px 10px 0 $primary-color-transparent;
	}

	&__title {
		display: inline;
		padding: 5px 0;
	}

	&__price {
		font-size: 4rem;
		margin: 0;
		margin-top: 20px;

		sup {
			font-size: 1rem;
			margin-left: 5px;
		}
	}

	&__period {
		margin: 0;
		font-size: 0.8rem;
	}

	&__content {
		margin-top: 40px;

		p {
			margin-bottom: 0.7rem;
			border-bottom: 2px solid $light-color;
			line-height: 1.5rem;
		}
	}

	.btn {
		margin-top: 40px;
	}

	&__highlight {
		background: linear-gradient(to right, $primary-color, $secondary-color);
		color: $white;
		transform: scale(1.1);
	}
}
