// Colors________________________________________________________________
// - primary
$primary-color: #f19720;
$primary-color-transparent: rgba(241, 151, 32, 0.8);
$primary-color-transparent-lighter: rgba(241, 151, 32, 0.3);

// - secondary
$secondary-color: #fbc734;

// - standard
$white: #fff;
$black: #000;

// - lighter colors
$light-color: #f4f4f4;
$medium-color: #ccc;

// - darker colors backgrounds
$dark-color: #333;
$dark-gray: #363636;
$medium-dark-color: #a3a3a3;

// - other colors
$red: #f44336;
$green: #009900;
$purple: #800080;

// - body colors
$body-color: #fafafa;

// Other________________________________________________________________
// - webiste width
$website-width: 1200px;

// - menu
$menu-height: 80px;
$menu-scroll-height: 50px;

// - faq
$faq-btn-transition: 0.8s;
