// Kontakt page
.showcase-contact {
	background: url("../img/showcase/showcase-contact.jpg") no-repeat center center/cover;
}

.contact {
	max-width: 960px;
	margin: 100px auto;
	text-align: center;

	h2 {
		font-weight: 400;
	}

	&-form {
		display: grid;
		grid-template-areas:
			"name email"
			"message message"
			"submit submit";
		gap: 1rem;

		.name {
			grid-area: name;
		}
		.email {
			grid-area: email;
		}
		.message {
			grid-area: message;
		}
		.submit {
			grid-area: submit;

			.btn {
				border: none;
			}
		}

		&--field {
			position: relative;
			margin-top: 50px;
		}

		&__text-input {
			display: block;
			width: 100%;
			height: 34px;
			border-width: 0 0 2px 0;
			border-color: $primary-color;
			font-size: 1.4rem;
			line-height: 26px;
			font-weight: 400;
			background: transparent;

			&:focus {
				outline: none;
			}

			&:focus,
			&.has-value {
				+ label {
					transform: translateY(-30px);
				}
			}
		}

		&__label {
			position: absolute;
			left: 0;
			bottom: 10px;
			font-size: 1.2rem;
			line-height: 26px;
			transition: transform 0.3s ease-in-out;
		}
	}
}
