.about-us {
	background: $white;

	&__showcase {
		background: url("../img/showcase/showcase-about-us.webp") no-repeat center center/cover;
	}

	.grid-2-columns {
		gap: 2.5rem;
	}

	.grid-3-columns {
		gap: 10rem;
	}

	&__about {
		padding: 150px 0;
	}

	.statements {
		margin-top: 50px;

		&__statement {
			height: 200px;
			position: relative;

			&--vision {
				background: url("../img/about-us/about-us-vision.webp") no-repeat center center/cover;
			}
			&--mision {
				background: url("../img/about-us/about-us-mision.webp") no-repeat center center/cover;
			}
			&--goals {
				background: url("../img/about-us/about-us-goal.webp") no-repeat center center/cover;
			}
		}

		&__icon {
			background: $primary-color-transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 120px;
			width: 50%;
			position: absolute;
			bottom: 30px;

			i {
				font-size: 3rem;
				color: $white;
			}
		}

		&_list {
			margin-top: 20px;

			.fa-ul {
				margin-left: 2rem;
			}

			i {
				color: $primary-color;
			}
		}
	}

	&__parallax {
		background-image: url("../img/about-us/about-us-parallax.webp");
	}

	&__our-team {
		padding: 150px 0;
		background: $light-color;

		.btn {
			margin: 50px 0;
		}
	}
}
