// Paketi page
.showcase-packages {
	background: url("../img/showcase/showcase-packages.jpg") no-repeat center center/cover;
}

.packages {
	padding: 80px 0;

	&-headlines {
		text-align: center;
		width: 60%;
		margin: auto;
		margin-bottom: 100px;

		h2 {
			font-size: 1.8rem;
		}
	}

	&-content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 3rem;
		margin: 40px 0 20px 0;
		padding: 10px 40px;
		text-align: center;

		.card {
			margin-bottom: 20px;
			height: initial;

			h4 {
				display: inline;
				padding: 5px 0;
			}

			.price {
				font-size: 4rem;
				margin: 0;
				margin-top: 20px;

				sup {
					font-size: 1rem;
					margin-left: 5px;
				}
			}

			.period {
				margin: 0;
				font-size: 0.8rem;
			}

			&-content {
				margin-top: 40px;

				p {
					margin-bottom: 1.5rem;
				}
			}

			.btn {
				margin-top: 40px;
			}

			&:hover {
				transform: initial;
				background: initial;
				color: initial;
			}

			&-highlight {
				transform: scale(1.1);

				&:hover {
					transform: scale(1.1);
					background: initial;
					color: initial;
				}
			}
		}
	}
}
